/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size:100%;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

/* HEDER  */
