/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size:100%;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.col{
    float: left;
}
.col-right{
    float: right;
}

.no-point{
    list-style: none;
}

.no-subline a{
    text-decoration: none;
}

.inline-block li{
    display: inline-block;
}

.line-height{
    line-height: 60px;
}

.vertical-align{
    vertical-align: middle;
}

.vertical-align-top div{ 
    margin-top: 2em ;
    vertical-align: top;
}

.btn{
    display: inline-block;
}

.btn-blue{
    background-color: #2261ff; /* 2261ff */
}

.btn-small{
    padding:0 1em;
}
 a.btn-blue{
     color: white;
 }

.inherit a{
    color: inherit;
}

.color a:first-of-type{
    color: white;
}

/* HEDER  */
.header{
    /* height: 60px; */
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    /* TEST  */
    /* background-color: bisque; */
}

.header-logo{
    height: 60px;

    /* TEST  */
    /* background-color: rgb(247, 2, 2); */
}

.header-logo img{
    padding: 0 1em;
   vertical-align: middle;
}

.inline-block li{
    padding: 0 1em;
}

.section-header-2{
    height: 60px;

    /* TEST  */
    /* background-color: yellow; */
}

.header-btn{
    padding: 0 1em;
    color: rgb(5, 5, 5);
}

.header-btn a{
   line-height: normal;
}

/* JUMBOTRON  */
.jumbotron{
    margin-top: 60px;
    background-color: #b4d0e7;

    /* TEST  */
    height: 650px;
}

.jumbotron-container{
    width: 90%;
    margin: 1em auto;

    /* TEST  */
    /* border: 2px solid red; */
}

.jumbotron-mini-container{
    width: 100%;

    /* TEST  */
    /* border:2px solid blueviolet ; */

}

.jumbotron-title{
    font-size: 2em;
    margin:3em 0 1.3em 0;
    /* TEST  */
    /* border: 2px solid yellow; */
}

.jumbotron-container{
    width: 90%
}

.jumbotron-text{
    width: 30%;

    /* TEST  */
    /* border: 2px solid blue; */
}

.jumbotron-text p{
    width: 85%;
}

.jumbotron-text a{
    margin: 1.5em 0 .8em 0;
    font-size: 1em;
    padding: .5em 1em;
}

.jumbotron-img{
    width: 69%;

    /* TEST  */
    /* border: 2px solid red; */
}

.arrow-down{
    margin: 1em 0 1.5em 0;
    font-size: 3em;
}

/* CONTAINER PINCIPLE  */
.container{
    margin: 14  em 0 1em 0 ;
    
    /* TEST  */
    /* border: 2px solid rebeccapurple; */
}

/* SECTION-1  */
.section-1,
.section-2,
.section-21,
.section-3,
.section-4,
.section-5,
.section-8{
    width: 80%;
    margin: 4em auto;

    /* TEST  */
    /* border: 2px solid red ; */
}

.fatturazione{
    margin-bottom: 2em;
}

.section-1 h2{
    font-size: 2.3em;
    margin-bottom: 1.3em;
}

.section-1 span:first-of-type{
    margin-left: 1em;
}
 /* SECTION-2  */
 .padding-info{
    padding: 1em 1.5em;
 }

.plan-service{
     display: inline-block;
     width: calc(100%/3 - 1em);
     height: 1000px;
     vertical-align: top;

     /* TEST  */
     border: 1px solid grey ;
 }

.row-1{
     border-bottom: 1px solid grey;
     text-align: center;
     padding: 1em;
 }

.service-col-1{
    margin: 2em 0 2em 0;
}

.service-col-1 h2{
    margin-bottom: .5em;
}

.service-col-1 h3{
    margin-bottom: .5em;
}

 .mgn-col-2{
    margin-right: 1em;
 }

.mese{
    color: grey;
    font-size: .9em;
}

.mioblocco { 
	    padding-bottom: 15px; 
}

.cash{
    text-decoration: double;
    font-weight: bolder;
}

.inherit a{
    color: #2263ff;
}

.acquista-ora{
    margin-bottom: 2em;
}

.info-service  .no-point li{
    margin-bottom: 18px;
}

.info-service{
   
    /* border-top: 1px solid grey; */
    margin-top:2em;
}
.bottone{
    margin: 1.5em 0 1.5em 0;
}

.botton-text{
    padding: .5em 1.5em;
}

.border-middle{
    border: 1px solid grey;
    width: 20%;
}

.checkmark{
    color:#2263ff;
}

.center{
    margin: 0 1.5em;
}

.prova-1{
    display: inline-block;
}

.prova-2{
    display: inline;
}

.service-col-2{
    margin-bottom: 18px;
}

/* SECTION-21  */
.section-21{
    border: 1px solid grey;
}

.section-21-header{
    text-align: center; 
    border-bottom: 1px solid grey;
}

.section-21-text{
    padding: 2em;
    width: 70%;
}

.section-21-text h2, h3, p{
    margin-bottom: 18px;
}

.section-21-button{
    width: 30%;
}

.section-21-button .section-21-button-a{
    color: white;
    padding: .5em 2em;
    margin-top: 3em;
}

/* SECTION-3 */
.section-3-container{
    margin: 4em 0;
    /* border: 2px solid blueviolet; */
}

.section-3-img{
    width: 60%;
}

.section-3-text{
    width: 40%;
}

.section-3-text h2, p{
    margin-bottom:2em;
}

.section-3-pad{
    padding:2em;
}

.section-3-text .section-3-a{
    color: black;
    border: 1px solid black;
    padding: .5em 2em;
}

 /* SECTION-4 */
.section-4-header{
    font-size: 1.5em;
}

.section-4-container{

}

.section-4-content{
    /* width:400px; */
    width:calc(100%/3 - 1em);
    /* height: 400px; */
    /* background-color: bisque;
    border: 1px solid red; */
}

.section-4-content img{
    max-width: 100%;
}

.center-4{
    margin:0 1.5em;
}

.section-4-content p{
    margin-top: 1em;
}

.section-4-content a{
    color: black;
}

 /* SECTION-5  */
 .section-5{
     /* border: 1px solid red; */
 }

 .section-5-text h2{
    font-size: 2.8em;
    width: 65%;
    /* border: 1px solid green; */
    
 }

 .section-5 .section-5-text{
     margin-top: 2em;
 }

 .section-5 .section-5-a{
    margin-top: 1em;
}

/* SECTION-6 */
.section-6{
    
    /* TEST  */
    border: 1px solid red;
    /* background-color:green ; */
}

.q-1{
    background-color: rgb(135, 222, 154);
   width: 30%;
   height: 200px;
}

.quadrato {
    width: 200px;
    height: 200px;
    position: relative;
} 

.quadrato img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.q-1-content .q-1-1{
    background-color: #a2d39b;
    border:10px solid #d0e9cd;
}

.q-1-content .q-1-2{
    background-color: #61082c;
}

.q-1-content .q-1-3{
    background-color: #2393ce;
}

.q-1-content .q-1-4{
    background-color: #fa1c1c;
}

.square{
    width: calc(100%/2);
}

.q-2{
    background-color: blue; 
   width: 40%;
   height: 200px;
}

.q-3{
    background-color: burlywood;
   width: 30%;
   height: 200px;
}

/* 
.q-3-content img:nth-child(1){
    background-color: #d5061f;
}

.q-3-content img:nth-child(2){
    background-color: #b4d0e7;
}

.q-3-content img:nth-child(3){
    background-color: #0d2481;
}

.q-3-content img:nth-child(4){
    background-color: #fdd830;
} */

/* SECTION-7 */
.section-7{
    background-color:#b4d0e7 ;
}

.section-7-container{
    width: 80%;
    margin: 0 auto;
    padding: 5em 0;
}

.section-7-container .section-7-text{
    width: 60%;
}

.section-7-container .section-7-btn{
    width: 40%;
    text-align: end;
}

.section-7-text h2{
    font-size: 2em;
}

.section-7-btn a{
   padding:.4em 3em ;
   background-color: white ; 
   color: black;
}

/* SECTION-8 */
.section-8 li{
    border-top:1px solid grey ;
}

.sectio-8 ul li:last-of-type{
    border-bottom:1px solid grey ;
}

.section-8 h2{
    font-size: 1.9em;
    margin-bottom: 2em;  
}

.section-8 .no-point li{
    padding: 2em 0;    
}

.section-8 .no-point{
    position:relative;
}

.section-8 .no-point .end{
    position: absolute;
    right: 2em;
}

.section-8 .no-point .end-1{
    border-bottom: 1px solid grey;
 }

/* SECTION-9 FOOTER */
.section-9{
    background-color: black;
    color: white ;
}

.section-9-container{
    /* border: 1px solid red; */
    margin: 0 10% 0 5%;
    padding-top: 10%;
}

.section-9-content{
    width: calc(100%/5 - 1em);
    min-height: 300px;
    /* background-color: #ec530c; */
    /* border: 1px solid greenyellow; */
    margin: 0 .5em;
}

.section-9-content .no-point li{
    font-size: .8em;
    margin-bottom: 1em;
}

a.section-9-a{
    color: white;
}

/* SECTION-91 FOOTER 2 */

.border-middle-2{
    border: 1px solid #a9a9a9;
    width: 10%;
    margin-bottom: 1em;
}

.section-91-container{
    margin: 0 10% 0 5%;
}

.section-91-container{
    font-size: .9em;
    color: grey;
}

.section-91-container .section-91-content{
    padding: 2em 0;
}







